.main-pic {
  width: 300px;
  height: 300px;
}

.details-page-pic {
  width: 300px;
  height: 300px;
}

/* Ulam Card */
#ulam-card {
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;

  h1 {
    color: black;
    margin-top: 30px;
  }
}
/* Ulam Card */

/* Ulam Details */
#ulam-details {
  #ingredients-container {
    ul {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-auto-rows: 1fr;
      padding: 0;
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      border: 1px black solid;
      border-radius: 5px;
      padding: 10px;
    }

    // li:nth-child(odd) {
    //   background-color: beige;
    // }
    // li:nth-child(even) {
    //   background-color: burlywood;
    // }
  }

  #steps-container {
    text-align: left !important;

    #steps-list {
      padding: 0;
      list-style-type: none;
    }

    div {
      margin-bottom: 10px;
    }
  }
}
/* Ulam Details */
